<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rapport-heading" jhiTranslate="fireDApp.rapport.home.createOrEditLabel">Create or edit a Rapport</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rapport.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rapport.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fireDApp.rapport.pieceJointe" for="field_objet">Objet</label>
                    <input required type="text" class="form-control" name="pieceJointe" id="field_objet"
                        [(ngModel)]="rapport.pieceJointe" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fireDApp.rapport.copies" for="field_copies">Copies</label>
                    <input type="text" class="form-control" name="copies" id="field_copies"
                        [(ngModel)]="rapport.copies" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fireDApp.rapport.contenu" for="field_contenu">Contenu</label>
                    <textarea required rows="4" type="text" class="form-control" name="contenu" id="field_contenu"
                        [(ngModel)]="rapport.contenu"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fireDApp.rapport.type" for="field_type">Type</label>
                    <select type="number" class="form-control" name="type" id="field_type"
                        [(ngModel)]="rapport.type">
                        <option value="1">{{'fireDApp.rapport.type_1'|translate}}</option>
                        <option value="2">{{'fireDApp.rapport.type_2'|translate}}</option>
                        <option value="3">{{'fireDApp.rapport.type_3'|translate}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
