<div>
    <h2 id="page-heading">
        <span jhiTranslate="fireDApp.prospect.home.title">Prospects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prospect" [routerLink]="['/prospect/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="fireDApp.prospect.home.createLabel">
            Create new Prospect
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'fireDApp.prospect.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="prospects">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id" style="display: none;"></th>
            <th jhiSortBy="nom" style="width: 8%"><span jhiTranslate="fireDApp.prospect.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email" style="width: 8%"><span jhiTranslate="fireDApp.prospect.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telephone" style="width: 8%"><span jhiTranslate="fireDApp.prospect.telephone">Telephone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="type"><span jhiTranslate="fireDApp.prospect.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="dateRdv" style="width: 8%"><span jhiTranslate="fireDApp.prospect.dateRdv">Date Rdv</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compteRendu" ><span jhiTranslate="fireDApp.prospect.compteRendu">Compte Rendu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="localisation" style="width: 8%"><span jhiTranslate="fireDApp.prospect.localisation">Localisation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="position"><span jhiTranslate="fireDApp.prospect.position">Position</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="createdAt" style="width: 10%"><span jhiTranslate="fireDApp.prospect.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="updatedAt"><span jhiTranslate="fireDApp.prospect.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="deletedAt"><span jhiTranslate="fireDApp.prospect.deletedAt">Deleted At</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="suivi.id"><span jhiTranslate="fireDApp.prospect.suivi">Suivi</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--th jhiSortBy="user.id"><span jhiTranslate="fireDApp.prospect.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th-->
            <th style="width: 15%"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prospect of prospects ;trackBy: trackId">
                <td  style="display: none;"><a [routerLink]="['/prospect', prospect.id, 'view' ]"></a></td>
                <td>{{prospect.nom}}</td>
                <td>{{prospect.email}}</td>
                <td>{{prospect.telephone}}</td>
                <!--<td>{{prospect.type}}</td>-->
                <td>{{prospect.dateRdv}}</td>
                <td>{{prospect.compteRendu}}</td>
                <td>{{prospect.localisation}}</td>

                <td>{{prospect.createdAt}}</td>
                <!--<td>{{prospect.updatedAt}}</td>-->
                <!--td>{{prospect.deletedAt}}</td-->
                <!--<td>-->
                    <!--{{prospect.user?.id}}-->
                <!--</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/prospect', prospect.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        </button>
                        <button type="submit"
                                [routerLink]="['/prospect', prospect.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prospect/'+ prospect.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="prospects && prospects.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
