<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pieceJointe">
            <h2><span jhiTranslate="fireDApp.pieceJointe.detail.title">Objet</span> {{pieceJointe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fireDApp.pieceJointe.nom">Nom</span></dt>
                <dd>
                    <span>{{pieceJointe.nom}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.pieceJointe.lien">Lien</span></dt>
                <dd>
                    <span>{{pieceJointe.lien}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.pieceJointe.encode">Encode</span></dt>
                <dd>
                    <span>{{pieceJointe.encode}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.pieceJointe.rapport">Rapport</span></dt>
                <dd>
                    <div *ngIf="pieceJointe.rapportId">
                        <a [routerLink]="['/rapport', pieceJointe.rapportId, 'view']">{{pieceJointe.rapportId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pieceJointe', pieceJointe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
