<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="objet">
            <h2><span jhiTranslate="fireDApp.objet.detail.title">Objet</span> {{objet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fireDApp.objet.nom">Nom</span></dt>
                <dd>
                    <span>{{objet.nom}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.objet.lien">Lien</span></dt>
                <dd>
                    <span>{{objet.lien}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.objet.encode">Encode</span></dt>
                <dd>
                    <span>{{objet.encode}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.objet.rapport">Rapport</span></dt>
                <dd>
                    <div *ngIf="objet.rapport">
                        <a [routerLink]="['/rapport', objet.rapport?.id, 'view']">{{objet.rapport?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/objet', objet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
