<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pieceJointe-heading" jhiTranslate="fireDApp.pieceJointe.home.createOrEditLabel">Create or edit a Objet</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pieceJointe.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pieceJointe.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fireDApp.pieceJointe.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="pieceJointe.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fireDApp.pieceJointe.lien" for="field_lien">Lien</label>
                    <input type="text" class="form-control" name="lien" id="field_lien"
                        [(ngModel)]="pieceJointe.lien" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fireDApp.pieceJointe.encode" for="field_encode">Encode</label>
                    <input type="text" class="form-control" name="encode" id="field_encode"
                        [(ngModel)]="pieceJointe.encode" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fireDApp.pieceJointe.rapport" for="field_rapport">Rapport</label>
                    <select class="form-control" id="field_rapport" name="rapport" [(ngModel)]="pieceJointe.rapportId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rapportOption.id" *ngFor="let rapportOption of rapports; trackBy: trackRapportById">{{rapportOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
