<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="copie">
            <h2><span jhiTranslate="fireDApp.copie.detail.title">Copie</span> {{copie.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fireDApp.copie.email">Email</span></dt>
                <dd>
                    <span>{{copie.email}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.copie.createdAt">Created At</span></dt>
                <dd>
                    <span>{{copie.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.copie.rapport">Rapport</span></dt>
                <dd>
                    <div *ngIf="copie.rapport">
                        <a [routerLink]="['/rapport', copie.rapport?.id, 'view']">{{copie.rapport?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/copie', copie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
