<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="compteRenduSuivi">
            <h2><span jhiTranslate="fireDApp.compteRenduSuivi.detail.title">Compte Rendu Suivi</span> {{compteRenduSuivi.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fireDApp.compteRenduSuivi.contenu">Contenu</span></dt>
                <dd>
                    <span>{{compteRenduSuivi.contenu}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.compteRenduSuivi.dateProchaineRdv">Date Prochaine Rdv</span></dt>
                <dd>
                    <span>{{compteRenduSuivi.dateProchaineRdv}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.compteRenduSuivi.createdAt">Created At</span></dt>
                <dd>
                    <span>{{compteRenduSuivi.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.compteRenduSuivi.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{compteRenduSuivi.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.compteRenduSuivi.deletedAt">Deleted At</span></dt>
                <dd>
                    <span>{{compteRenduSuivi.deletedAt}}</span>
                </dd>
                <dt><span jhiTranslate="fireDApp.compteRenduSuivi.suivi">Suivi</span></dt>
                <dd>
                    <div *ngIf="compteRenduSuivi.suivi">
                        <a [routerLink]="['/suivi', compteRenduSuivi.suivi?.id, 'view']">{{compteRenduSuivi.suivi?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/compte-rendu-suivi', compteRenduSuivi.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
